* {
  font-family: "Malgun Gothic";
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template:
    "header" 8%
    "main" 84%
    "footer" 8%
    / 100%;

  border: gray 1px solid;
  width: 100%;
  height: auto;
}

header {
  grid-area: header;
  background-color: #107acc;
  margin: 0px;
  padding: 2px;
  padding-left: 20px;
}
#t1 {
  color: #0cbccc;
}

header h1 {
  font-size: 30px;
  color: white;
}

header div {
  display: flex;
  padding: 1px;
  margin: 0%;
  width: 80%;
  height: 90%;
  flex-direction: row;
}
div div {
  height: 80%;
  width: 90%;
  padding: 1px;
  margin: 1px;
  align-items: center;
}

div figure {
  margin: 0%;
  padding: 0%;
  padding-top: 3px;
  height: 90%;
  width: 10%;
}

header img {
  width: 50px;
  height: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: main;
  border: purple 2px solid;
}

section {
  opacity: 0.5;
  text-align: center;
  border-radius: 5px;
  align-content: center;
  padding: 10px;
  margin: 10px;
  height: 10%;
  width: 70%;
  background-color: white;
  color: black;
}

form {
  border-radius: 10px;
  padding: 2px;
  margin: 2px;
  width: 50%;
  height: 80%;
  border: #0cbccc 2px solid;
  background-color: white;
}
form header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
form h1 {
  color: #15297c;
}
footer {
  grid-area: footer;
  border: red 2px solid;
  background-color: #107acc;
}
